ul
{
	list-style: none;
}
.commentary
{
	width:1100px;
	text-align: center;
	margin:auto;
	background-color:rgba(100,100,100,0.6);
	border-radius: 10px;
	border:2px ridge black;


}
table
{
  padding:30px;
}
td
{
 padding-right: 18px;
}
.plus_arrow:hover
 {
 	background-color:grey;
 	border-radius:3px;

 }
 .moins_arrow:hover
 {
 	background-color:grey;
 	border-radius:3px;

 }
#plus
{
	display:none;
}
#plus:target {display:block;}
#plus:target .affiche>a {display:none;}

.poster
{
	background-color:rgba(180,180,180,0.8);
	border-radius: 10px;
    margin-top:35px;
	margin-left: 70px;

}
.identite
{
	background-color:rgba(50,50,50,0.4);
	border-radius: 20px;


}
.c_textarea
{
	background-color: rgba(100,100,100,0.4);
	 border:2px ridge rgb(100,100,100);
	  border-radius:3px;
	   color:rgba(50,50,50,0.8);
}
  .c_textarea:hover
 {
   background-color:rgb(30,30,30,0.8);
   border-width: 3px;
   color:rgba(150,150,150,0.8);
 }
 .co_text
 {

 	border:2px ridge rgb(120,120,120);
 	width:700px;
 	min-height:120px;
 	background-color:rgba(180,180,180,0.5);
 	box-shadow:5px 6px 1px 0px rgba(80,80,80,0.4);
 }
 .c_input
 {
 	background-color: rgba(170,170,170,0.8);
 	border-radius:5px;
 }
 input:hover
 {
 	background-color: rgba(110,110,110,0.8);
 	border-color:rgba(90,90,90,0.8);
 }
 #commentary
{

	border-radius: 15px;
	border:3px ridge rgb(50,50,50);
	background-color: rgba(200,200,200,0.8);
	width:85%;
	margin: auto;
}

